/* Header Customizations */
#header h1 {
  font-size: clamp(10px, 6vw, 45px);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding: 0px 0px 0px clamp(0vw, 8vw, 10vw);
}

#footer,
nav {
  background: rgb(120, 76, 37);
  background: radial-gradient(
    circle,
    rgba(120, 76, 37, 0.8739204299884016) 66%,
    rgba(120, 76, 37, 0.6274218305486257) 98%
  );
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

nav ul a:hover {
  color: gold;
}

/* Card Customizations */
.card-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.container.center {
  width: 75%;
}

.brand-text {
  color: rgba(120, 76, 37, 0.8739204299884016);
}
.brand {
  background-color: rgba(120, 76, 37, 0.8739204299884016);
}

form {
  max-width: clamp(300px, 40vw, 600px);
  margin: 40px auto;
  padding: 0px 0px 5px;
}
.input-field {
  margin-left: 20px;
  margin-right: 20px;
}
nav h2 {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  font-size: clamp(30px, 3vw, 45px);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

table.highlight > tbody > tr:hover {
  background-color: #d1c4e9 !important;
}

.btn,
.btn-large {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn-large:hover {
  background-color: #b8860b;
}
.select-dropdown {
  color: #673ab7 !important;
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}
/* label underline focus color */
.input-field input[type="password"]:focus {
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}
/* label underline focus color */
.input-field input[type="number"]:focus {
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}
/* label focus color */
.input-field input[type="submit"]:focus {
  color: white;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border-color: black;
  background-color: #673ab7;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

.datepicker-date-display {
  background-color: #673ab7;
}
td.is-selected.is-today {
  background-color: #673ab7 !important;
  color: white !important;
}
td.is-selected {
  background-color: #673ab7 !important;
  color: white !important;
}
.is-today {
  color: #673ab7 !important;
}
.datepicker-day-button:focus {
  background-color: #673ab7 !important;
  color: white !important;
}

.tabs .tab a {
  color: white;
}
.tabs .tab a:hover {
  background-color: #673ab7;
  color: white;
}

.tabs .tab a.active {
  background-color: #673ab7;
  color: white;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: red;
}
.tabs .indicator {
  background-color: #673ab7;
}
