/* Header&Footer Customizations */
#header h1 {
  font-size: clamp(10px, 6vw, 45px);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding: 0px 0px 0px clamp(0vw, 8vw, 10vw);
}

#footer,
nav {
  background: rgb(120, 76, 37);
  background: radial-gradient(
    circle,
    rgba(120, 76, 37, 0.8739204299884016) 66%,
    rgba(120, 76, 37, 0.6274218305486257) 98%
  );
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

nav ul a:hover {
  color: gold;
}

h4 {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: clamp(10px, 6vw, 20px);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
}

/* Card Customizations */
.card-image {
  margin: 40px auto 0px;
}

.container.center {
  width: 75%;
}

.brand-text,
.dropdown-content > li > span {
  color: rgba(120, 76, 37, 0.8739204299884016);
}
.brand {
  background-color: rgba(120, 76, 37, 0.8739204299884016);
}

form {
  max-width: clamp(300px, 40vw, 600px);
  margin: 40px auto;
  padding: 0px 0px 5px;
}
.input-field {
  margin-left: 20px;
  margin-right: 20px;
}
nav h2,
h3 {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  font-size: clamp(30px, 3vw, 45px);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
h3 {
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.view tr:hover {
  background: rgb(120, 76, 37);
  background: radial-gradient(
    circle,
    rgba(120, 76, 37, 0.8739204299884016) 66%,
    rgba(120, 76, 37, 0.6274218305486257) 98%
  );
}

.btn,
.btn-large {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.div-left,
.div-mid,
.div-right {
  background: white;
  color: black;
  margin: 40px auto;
  width: 25%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  float: left;
}
.div-left {
  margin: 40px 0px 0px 6vw;
}
.div-mid {
  margin: 40px 3vw 0px 6vw;
}
.div-right {
  margin: 40px 6vw 0px 0px;
  float: right;
}

tr {
  border: 3px solid grey !important;
}

.btn:hover,
.btn-large:hover {
  background-color: #b8860b;
}
.select-dropdown,
.dropdown-content {
  color: rgb(120, 76, 37) !important;
  border-bottom: 1px solid rgb(120, 76, 37) !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* label underline focus color */
.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="number"]:focus {
  border-bottom: 1px solid rgb(120, 76, 37) !important;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2) !important;
}

/* label focus color */
.input-field input[type="submit"]:focus {
  color: white;
}
input[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border-color: black;
  background-color: rgb(120, 76, 37);
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

.datepicker-date-display {
  background-color: rgb(120, 76, 37);
}
td.is-selected.is-today {
  background-color: rgb(120, 76, 37) !important;
  color: white !important;
}
td.is-selected {
  background-color: #b8860b !important;
  color: white !important;
}
.is-today {
  color: rgb(120, 76, 37) !important;
}
.datepicker-day-button:focus {
  background-color: rgb(120, 76, 37) !important;
  color: white !important;
}

hr {
  margin: 5px 20px;
}
